@model Log
@{ }

<form id="createLog" asp-controller="home" asp-action="create" method="post">
    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="CreatedBy" />
    <input type="hidden" asp-for="CreatedDate" />
    <input type="hidden" asp-for="ModifiedBy" />
    <input type="hidden" asp-for="ModifiedDate" />
    <div class="form-group">
        <label asp-for="Title"></label>
        <input asp-for="Title" />
        <span asp-validation-for="Title"></span>
    </div>
    <div class="form-group">
        <label asp-for="Type"></label>
        <select asp-for="Type">
            @foreach (LogType logType in Enum.GetValues(typeof(LogType)))
            {
                <option>@logType</option>
            }
        </select>
        <span asp-validation-for="Type"></span>
    </div>
    <div class="form-group">
        <label asp-for="Body"></label>
        <textarea asp-for="Body"></textarea>
        <span asp-validation-for="Body"></span>
    </div>
    <div class="form-buttons">
        <input type="submit" value="Post" />
        <a href="/delete/@Model.Id">Delete</a>
    </div>    
</form>