@model IEnumerable<Log>
@{ }

@if (Model.Count() == 0)
{
    <article>
        <div class="article-preview">No logs at this time.</div>
    </article>
}

@foreach (Log log in Model.OrderByDescending(l => l.CreatedDate))
{
    <article>
        <h1><a href="#">@log.Title</a></h1>
        <h2>@log.CreatedDate.Encode()</h2>
        <div class="article-preview">@log.Body.Substring(0, 1000)</div>
    </article>
}